@font-face {
    font-family: 'Bantayog';
    src: url('/fonts/Bantayog-Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bantayog';
    src: url('/fonts/Bantayog-Semilight.otf') format('otf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Bantayog';
    src: url('/fonts/Bantayog-Light.otf') format('otf');
    font-weight: 100; /* lighter */
    font-style: normal;
}
